body {
  font-family: sans-serif;
  font-size: 20px;
}

.title {
  margin: 10px 0;
}

.section {
  margin: 20px 0;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input, textarea {
  padding: 2px 5px;
  font-size: 20px;
  border: 1px solid lightgrey;
  min-width: 300px;
}

#result {
  margin: 10px 0;
  font-size: 24px;
  letter-spacing: 2px;
  padding-left: 5px;
  list-style-type: none;
}

#result strong {
  text-decoration: underline;
}